
/* ---slick slider--- */
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 40px;
    margin-top: -20px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    font: normal normal normal 14px/1 FontAwesome;

    &.slick-disabled{
    	opacity: 0.4;
    }
}

.slick-prev{
	left: -30px;
}

.slick-prev:before {
    content: "\f104";
    line-height: normal;
    font-size: 40px;
    color: $title-font-color;
}

.slick-next{
	right: -35px;
}

.slick-next:before {
    content: "\f105";
    line-height: normal;
    font-size: 40px;
    color: $title-font-color;
}

.slick-slide {
	margin: 0 8px;
}

.slick-list {
	margin: 0 -8px;
}

@media only screen and (max-width: 1070px) and (min-width: 992px) {
	.slick-next{
		top: calc(100% + 10px);
    	right: 0;
    	width: 13px;
    	overflow: hidden;
	}

	.slick-prev{
		top: calc(100% + 10px);
    	left: 0;
    	width: 13px;
    	overflow: hidden;
	}
}

@media only screen and (max-width: 1268px) and (min-width: 1200px) {
	.slick-next{
		top: calc(100% + 10px);
    	right: 0;
    	width: 13px;
    	overflow: hidden;
	}

	.slick-prev{
		top: calc(100% + 10px);
    	left: 0;
    	width: 13px;
    	overflow: hidden;
	}
}

@media only screen and (max-width: 850px) {
	.slick-next{
		top: calc(100% + 10px);
    	right: 0;
    	width: 13px;
    	overflow: hidden;
	}

	.slick-prev{
		top: calc(100% + 10px);
    	left: 0;
    	width: 13px;
    	overflow: hidden;
	}
}


/* --rateyo--- */
.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.jq-ry-container[readonly="readonly"] {
  cursor: default;
}
.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}
.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}


/* slider */

.slider.slider-horizontal{

  .slider-track {
    background-image: none;
    background-color: #e2e2e2;
    border-radius: 0;
  }

  .slider-selection{
    background-color: $primary-bg-color;
    background-image: none;
  }
}

.slider-handle.round {
    border-radius: 0;
    background-color: #303030;
    background-image: none;
}

/* iCheck */

/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: url(../images/icons/green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_square-green {
    background-position: 0 0;
}
    .icheckbox_square-green.hover {
        background-position: -24px 0;
    }
    .icheckbox_square-green.checked {
        background-position: -48px 0;
    }
    .icheckbox_square-green.disabled {
        background-position: -72px 0;
        cursor: default;
    }
    .icheckbox_square-green.checked.disabled {
        background-position: -96px 0;
    }

.iradio_square-green {
    background-position: -120px 0;
}
    .iradio_square-green.hover {
        background-position: -144px 0;
    }
    .iradio_square-green.checked {
        background-position: -168px 0;
    }
    .iradio_square-green.disabled {
        background-position: -192px 0;
        cursor: default;
    }
    .iradio_square-green.checked.disabled {
        background-position: -216px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox_square-green,
    .iradio_square-green {
        background-image: url(../images/icons/green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}