
@import 'variables';
@import 'fonts';
@import 'plugins';
@import 'bootstrap';

body{
	font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6{
	font-family: $font-secondary;
}

a:focus{
	outline: none;
}

@import 'header';
@import 'footer';

.no-padding{
	padding: 0;
}

.main-image{
	min-height: $main-image-height;
	background: transparent;
	position: relative;

	.logo{
		display: block;
		margin: 0 auto;
		max-width: 80%;
		width: 400px;
		top: 150px;
		position: relative;

	    img{
	    	max-width: 100%;
	    }
	}
}

.search-wrap{
	background-color: $primary-bg-color;

	h3{
		color: #fff;
	    margin: 0;
	    padding: 22px 0;
	    font-size: 22px;
	    font-weight: normal;

	    i{
	    	color: $primary-bg-color2;
	    	float: right;
	    }
	}

	&.form{
		background-color: $primary-bg-color2;
	}

	label{
		color: $primary-font-color;
		font-weight: normal;
		font-size: 12px;
	}

	.nav-pills>li>a {
		padding: 15px;
	    border-radius: 0;
	    color: $primary-font-color;
	}

	.nav-pills>li.active>a, 
	.nav-pills>li.active>a:focus, 
	.nav-pills>li.active>a:hover {
	    color: $primary-font-color;
	    background-color: $primary-bg-color2;
	}

	.nav>li>a:focus, .nav>li>a:hover {
	    background-color: $primary-bg-color2;
	}

	.tab-content{
		padding: 20px 0;
	}

	.icon-container {
	    display: block;
	    text-align: center;
	    font-size: 26px;
	}

	.form-control,
	.btn {
	    height: 42px;
	}

	.nav-pills>li+li {
	    margin-left: 0;
	}
}

@media (min-width:768px) {
	.search-wrap.form{
		.row{
			margin-left: -5px;
			margin-right: -5px;
		}

		.col-md-2,
		.col-sm-4{
			padding-left: 5px;
	    	padding-right: 5px;
		}
	}
}

@media (max-width:767px) {
	.search-container{
		padding: 0 15px;

		&.menu{
			padding: 0;
		}

		.nav-pills>li {
		    float: none;
		}
	}

	.navbar-default .navbar-collapse{
		position: absolute;
	    width: 100%;
	    z-index: 99;
	    background-color: #ffffff;
	}

	.search-wrap .icon-container {
	    display: inline-block;
	    font-size: 16px;
	    margin-right: 5px;
	}
}

a .item-container{
	position: relative;
	margin: 0 0 10px 0;

	.image-container{
		height: 150px;

		img{
			width: 100%;
		    height: 100%;
		    object-fit: cover;
		    overflow: hidden;
		}
	}

	.text-wrapper{
	    color: $title-font-color;
	    text-decoration: none;

	    h4{
			padding: 10px 0;
		    margin: 0;
		    font-size: 16px;
		    font-weight: bold;
	    }

	    p{
			font-size: 12px;
	    }
	}
}

a.thumb-link:hover{
	text-decoration: none;
}

.thumb-container{
	padding-top: 30px;
	padding-bottom: 30px;

	.row{
		margin-left: -5px;
		margin-right: -5px;
	}

	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, 
	.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, 
	.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 
	.col-md-1, .col-md-10, .col-md-11, .col-md-12, 
	.col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
	.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, 
	.col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, 
	.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, 
	.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, 
	.col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	    padding-left: 5px;
	    padding-right: 5px;
	}

	.primary-title {
	    font-size: 24px;
	    color: $title-font-color;
	    margin-bottom: 25px;
	    text-transform: uppercase;
	}

	.title-link {
	    float: right;
	    color: #828282;
	    font-size: 14px;
	    line-height: 24px;
	    font-family: $font-primary;
	    font-weight: normal;
	    text-transform: none;

	    &:hover{
	    	color: #828282;
	    }
	}

	&.portrait{
		.image-container{
			height: 300px;
		}
	}
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
	a .item-container .image-container {
	    height: 130px;
	}

	.thumb-container.portrait .image-container {
	    height: 260px;
	}
}

@media only screen and (max-width: 440px) {
	a .item-container .image-container {
	    height: 100px;
	}

	.thumb-container.portrait .image-container {
	    height: 215px;
	}
}

.rating,
.rating-lg{
	display: inline-block;
}

.banner-container{

	.banner-text{
		height: $body-banner-height;
		display: table-cell;
    	vertical-align: middle;

    	h3{
    		font-size: 32px;
    	}

    	p,
    	a{
    		font-size: 16px;
    	}
	}

	.banner-image{
		height: $body-banner-height;

		img{
			width: 100%;
		    height: 100%;
		    -o-object-fit: cover;
		    object-fit: cover;
		    overflow: hidden;
		}

	}
}

.news-container{
	margin-top: 50px;

	.news-thumb {
	    width: 50%;
	    height: 153px;
	    display: inline-block;
	    float: left;
	    position: relative;

	    img{
	    	object-fit: cover;
			height: 100%;
			width: 100%;
	    }

	    h4{
			position: absolute;
			bottom: 0;
			background-color: rgba(0,0,0,0.6);
			width: 100%;
			margin: 0;
			padding: 10px;
			font-size: 16px;
			color: #ffffff;
	    }
	}

	.carousel {

		.item{
			height: 306px;

			img{
				object-fit: cover;
			    height: 100%;
			    width: 100%;
			}
		}

		.carousel-caption {
		    width: 100%;
		    background-color: rgba(0,0,0,0.6);
		    left: 0;
		    bottom: 0;
		    text-align: left;
		    padding: 10px;

		    a,
		    a:hover{
		    	color: #ffffff;
		    	text-decoration: none;
		    }

		    h3 {
			    margin: 0 0 10px 0;
			    font-size: 20px;
			}

			p{
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.no-padding-sm-left{
		padding-left: 0;
	}

	.no-padding-sm-right{
		padding-right: 0;
	}
}


.search-page{
	margin-top: 30px;

	.order-by {
	    padding: 10px 0;
	    border-bottom: 1px solid #d4d4d4;

	    a{
	    	color: $primary-bg-color;

	    	&.filter-link {
			    color: #303030;
			    padding: 0 10px;
			}
	    }

	    label{
	    	font-weight: normal;
	    }
	}

	.search-item{
		margin-top: 20px;
	    display: table;
	    width: 100%;
	    border-bottom: 1px solid #d4d4d4;
	    padding-bottom: 20px;

		.image{
			display: table-cell;
			vertical-align: top;
			width: 200px;
			img{
				width: 200px;
				height: 150px;
				object-fit: cover;
				overflow: hidden;
			}
		}

		.center-content {
			display: table-cell;
			vertical-align: top;
			padding: 0 10px;

			h3{
				margin: 0;
			    padding: 0 0 10px 0;
			    font-weight: bold;
			    font-size: 20px;

			    a{
			    	color: $title-font-color;
			    }
			}

			.rating-container{
				span{
					display: inline-block;
	    			vertical-align: super;
				}
			}
		}

		.right-content {
			width: 150px;
			display: table-cell;
			vertical-align: bottom;

			span{
				font-size: 26px;
			    font-weight: 700;
			    color: $title-font-color;
			    display: block;
			    text-align: right;

			    span{
			    	font-size: 14px;
				    display: inline-block;
				    margin-right: 5px;
			    }
			}

			.btn{
				font-size: 18px;
			}
		}
	}

	.filter-wrap{
		h4{
			font-family: $font-primary;
			margin: 0;
			padding: 15px 10px 12px 10px;
			background-color: #279a55;
			color: #fff;
		}

		.filter-container{
			margin-bottom: 30px;

			h5{
				font-family: $font-primary;
				margin: 0;
			    padding: 10px;
			    background-color: $primary-bg-color2;
			    color: #ffffff;
			}

			.filter-options {
			    padding: 15px;
		        background-color: #f7f7f7;

		        &.slider{
					padding-top: 32px;
				    padding-bottom: 25px;
				}

				.max {
				    float: right;
				}
			}

			.slider{
				width: 100%;
			}
		}

	}
}

.pagination-container{
	text-align: center;

	.pagination{
		border-radius: 0;
	}
}
